/* Other rules */
@font-face {
    font-family: 'Marvel';
    src: url('/src/assets/fonts/Marvel-fonts/Marvel-Bold.eot');
    src: url('/src/assets/fonts/Marvel-fonts/Marvel-Bold.eot?#iefix') format('embedded-opentype'),
        url('/src/assets/fonts/Marvel-fonts/Marvel-Bold.woff2') format('woff2'),
        url('/src/assets/fonts/Marvel-fonts/Marvel-Bold.woff') format('woff'),
        url('/src/assets/fonts/Marvel-fonts/Marvel-Bold.ttf') format('truetype'),
        url('/src/assets/fonts/Marvel-fonts/Marvel-Bold.svg#Marvel-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marvel';
    src: url('/src/assets/fonts/Marvel-fonts/Marvel-Regular.eot');
    src: url('/src/assets/fonts/Marvel-fonts/Marvel-Regular.eot?#iefix') format('embedded-opentype'),
        url('/src/assets/fonts/Marvel-fonts/Marvel-Regular.woff2') format('woff2'),
        url('/src/assets/fonts/Marvel-fonts/Marvel-Regular.woff') format('woff'),
        url('/src/assets/fonts/Marvel-fonts/Marvel-Regular.ttf') format('truetype'),
        url('/src/assets/fonts/Marvel-fonts/Marvel-Regular.svg#Marvel-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
    background-color: white;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.isLoading {
    background-color: #e23636;
    height: 100vh;
    width: 100vw;
    font-size: 70px;
    color: white;
    text-align: center;

}

.CharByPersonnage,
.Personnages,
.Favoris,
.Comics {
    min-height: calc(83vh)
}

h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 90px;
    font-weight: bold;
    padding: 10px;
    text-align: center
}

h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px
}

p {
    font-size: 12px;
    padding: 10px;
    line-height: 16px;
}

a {
    text-decoration: none;
}

/*Search bar*/
.search {
    max-width: 1260px;
    margin: 0 auto;
    padding: 20px
}

.search-input {
    border: 0;
    border-bottom: 2px solid #151515;
    width: 50%;
    padding-bottom: .4375rem;
    padding-left: 1.875rem;
    border-radius: 0;
    font: 800 26px/1 "Roboto Condensed", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* Containers */
.comic-container,
.comicList-container,
.char-container {
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

/* Cards */
.comic-card,
.comicList-card {

    width: 225px;
    padding: 10px;
    z-index: 1;
    cursor: pointer;
}

.comic-card:hover,
.comicList-card:hover {
    opacity: 0.7;
}

/* Images */
.comic-card>img,
.comicList-card>img {
    height: 335px
}

/* Header */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #202020;
    height: 85px;
    padding: 0 20px;
    position: sticky;
    top: 0;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    z-index: 100;

}

.header-container .logo {
    height: 45px;
    border-radius: 4px;
    cursor: pointer;

}

.header-container>span {
    font-size: 32px;
    font-weight: bold;
    color: #fff;
}

.button-characters,
.button-comics {
    margin-right: 30px;
}

nav>button {
    width: 100px;
    font-size: 17px;
    font-weight: 700;
    height: 30px;
    width: 150px;
    border-radius: 5px;
    font-size: 14px;
    background-color: inherit;
    border: 2px solid #e23636;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
}

nav>button:hover {
    background-color: #e23636;
}

/* Personnage Page */
.char-card {

    width: 190px;
    padding: 10px;
    z-index: 1;

}

.char-card:hover {
    opacity: 0.7;
}

.char-card>img {
    height: 205px;
    width: 190px;
    box-sizing: border-box;
}

.char-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: #e23636 solid 2px;
    background-color: black;
    color: white;
    padding: 1px;
    height: 240px;
    border-bottom-right-radius: 30px;
}


/* Heros */

.heros {
    background-image: url(./assets/images/marvel-heros.jpg);
    height: 455px;
    width: 100%;
    background-position: 50%;
    background-size: cover;
    padding-top: 85px;

}

.heros>div {
    width: 1280px;
    margin: 0 auto;
}


.heros-message {
    height: 220px;
    width: 360px;
    background-color: #fff;
    padding: 25px;
    border-radius: 3px;
    font-size: 34px;
    line-height: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 75px;
    box-shadow: 0 0 2px rgba(17, 17, 17, .24);
}


/* ComicsByPersonnagePage */
.char-banner {
    max-height: 400px;
    background-color: #151515;
    color: white;
}

.char-comic-container {
    max-width: 1280px;
    display: flex;
    margin: 0 auto;
}

.char-comic-image>img {
    max-width: 360px;
    max-height: 400px;
}

.char-comic-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1
}

.char-comic-txt p {
    font-size: 16px;
    line-height: 20px;
    font-family: "Roboto Condensed", sans-serif;
    width: 75%;
    align-self: center;

}


/* Comic component */

.fav-container {
    display: flex;
    justify-content: space-between;
    color: #e23636;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 0
}

.fav-container .fav-para {
    font-size: 14px;
    padding-left: 10px;
    line-height: none;

}

.fafas {
    padding-right: 10px;
    font-size: 16px
}
.skip-button {
    width: 100px;
    font-size: 17px;
    font-weight: 700;
    height: 30px;
    width: 150px;
    border-radius: 5px;
    font-size: 14px;
    background-color: inherit;
    border: 2px solid #e23636;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
}

.skip-button:hover {
    background-color: #e23636;
}

/* Favourites */
.fav-empty {
    display: flex;
    height: 82vh;
    width: 100vw;
    font-size: 48px;
    color: black;
    justify-content: center;
    align-items: center;

}

.fav-empty>span {
    border: #e23636 2px solid;
    padding: 10px
}

/* FOOTER */

footer {

    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: #151515;
    height: 85px;
    padding: 0 20px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 13px
}

.footer-container {
    max-width: 1280px;
    margin: 0 auto
}

footer span {
    font-weight: 700;
}